<html xmlns:th="http://www.thymeleaf.org">  
<head>  
    <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->  
</head>  
<body>  
<div class="container-fluid">  
    <div class="row">  
        <div class="box col-md-6 col-md-offset-3">  
            <div class="okta-header">  
                <img src="img/logo.png"/>  
            </div>  
              
            <h1 th:inline="text">Hello admin!</h1>  
  
            <a href="/" class="btn btn-primary">Go Home</a>  
        </div>  
    </div>  
</div>  
</body>  
</html>
